
@{
    ViewBag.Title = "ThankYou";
}

<h2>Thank you for your input!</h2>

@Html.ActionLink("Back to Home", "Index", "Home")



<img src="~/Content/ManWithPaperBanner.jpg" style="padding-top:1.1em;" />
